<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Clients and Keys</title>
    <style>
        table {
            border-collapse: collapse;
            border: 1px solid black;
        }
        table th, table td {
            border: 1px solid black;
            padding: 5px;
        }
        .green-row {
            background-color: lightgreen;
        }
        .red-row {
            background-color: lightsalmon;
        }
        .green-text {
            color: green;
        }
    </style>
</head>
<body>

<h1>Rotation config</h1>
<p><span th:utext="${configs}"></span></p>

<form id="generateClientForm">
    <label for="clientId">Generate new client with ID:</label>&nbsp;
    <input type="text" id="clientId" name="clientId" maxlength="40" required />
    <button type="submit">Generate</button>
</form>

<p>

    <button id="clearKeysButton" onclick="clearAllKeys()">Reset</button>
    <button id="togglePollingButton" onclick="togglePolling()">Stop Polling</button>
</p>

<p>
    <b>Current time: <span class="green-text" id="currentTime"></span></b>
</p>

<h1>Published keys</h1>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Client ID</th>
        <th>Signature Key</th>
        <th>Encryption Key</th>
        <th>Created</th>
        <th>Expires</th>
    </tr>
    </thead>
    <tbody id="publishedKeys"></tbody>
</table>

<h1>Unpublished keys</h1>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Client ID</th>
        <th>Signature Key</th>
        <th>Encryption Key</th>
        <th>Created</th>
        <th>Expires</th>
    </tr>
    </thead>
    <tbody id="unpublishedKeys"></tbody>
</table>

    <script>
        document.getElementById('generateClientForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const form = event.target;
            const formData = new FormData(form);

            fetch('/public/generate', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: new URLSearchParams(formData).toString()
            }).then(response => {
                if (response.ok) {
                    updateBodySection();
                    form.reset();
                }
            });
        });

        function updateCurrentTime() {
            const now = new Date();
            document.getElementById('currentTime').textContent = now.toLocaleTimeString('fi-FI', {
                hour: '2-digit',
                minute: '2-digit',
                second: '2-digit'
            });
        }

        setInterval(updateCurrentTime, 1000);

        function updateBodySection() {
            fetch('/public/clients-and-keys')
                .then(response => response.json())
                .then(data => {
                    // Update published keys
                    const publishedKeys = document.getElementById('publishedKeys');
                    publishedKeys.innerHTML = '';
                    const now = new Date();

                    data.current.forEach((client, index) => {
                        const [day, month, year, time] = client.expires.split(/[. ]/);
                        const [hours, minutes, seconds] = time.split(':');
                        const expiresDate = new Date(year, month - 1, day, hours, minutes, (seconds + 1));
                        const row = `<tr class="${expiresDate > now ? 'green-row' : 'red-row'}">
                        <td>${index + 1}</td>
                        <td>${client.clientId}</td>
                        <td>${client.signatureKey}</td>
                        <td>${client.encryptionKey}</td>
                        <td>${client.created}</td>
                        <td>${client.expires}</td>
                    </tr>`;
                        publishedKeys.innerHTML += row;
                    });

                    // Update unpublished keys
                    const unpublishedKeys = document.getElementById('unpublishedKeys');
                    unpublishedKeys.innerHTML = '';
                    data.unpublished.forEach((client, index) => {
                        const [day, month, year, time] = client.expires.split(/[. ]/);
                        const [hours, minutes, seconds] = time.split(':');
                        const expiresDate = new Date(year, month - 1, day, hours, minutes, seconds);
                        const row = `<tr class="${expiresDate > now ? 'green-row' : 'red-row'}">
                        <td>${index + 1}</td>
                        <td>${client.clientId}</td>
                        <td>${client.signatureKey}</td>
                        <td>${client.encryptionKey}</td>
                        <td>${client.created}</td>
                        <td>${client.expires}</td>
                    </tr>`;
                        unpublishedKeys.innerHTML += row;
                    });
                });
        }
        let polling = true;
        let pollingInterval;

        function clearAllKeys() {
            fetch('/public/clear-keys', { method: 'POST' });
        }

        function togglePolling() {
            polling = !polling;
            const button = document.getElementById('togglePollingButton');
            if (polling) {
                button.textContent = 'Stop Polling';
                pollingInterval = setInterval(updateBodySection, 1000);
            } else {
                button.textContent = 'Start Polling';
                clearInterval(pollingInterval);
            }
        }

        // Start polling by default
        pollingInterval = setInterval(updateBodySection, 1000);

        // Call updateBodySection immediately after the page loads
        updateBodySection();
    </script>
</body>
</html>